img {
    width: 7%;
    height: auto;
    bottom: 50%;
}

.titre {
    color: #d0826f;
}

.soustitre {
    color: #24345e;
}

body {
    background-color: #dfe0e0;
}

a {
    text-decoration: none;
}

#photo {
    clip-path: ellipse(40% 40%);
}

#photonom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

#phototitre {
    display: flex;
    align-items: center;
    margin-top: 1%;

}
h4 {
    margin-right: 1%;

}